<!-- Content Header (Page header) -->
<section class="content-header" xmlns:th="http://www.thymeleaf.org" th:include="~{common :: header}"></section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <table class="hook-datatable table table-bordered table-striped">
                <thead>
                <tr>
                    <th data-data="username">用户名</th>
                    <th data-data="nickname">昵称</th>
                    <th data-data="email">邮箱地址</th>
                    <th data-data="mobile">手机号</th>
                    <th data-data="sex">性别</th>
                    <th data-data="state">状态</th>
                    <th data-orderable="false">操作</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

<div xmlns:th="http://www.thymeleaf.org"
     th:replace="common :: modal('modal-warning', 'freezeModal', '警告', ~{::#freezeModalBody})">
    <div id="freezeModalBody">
        <p>确认停用该用户？</p>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org"
     th:replace="common :: modal('modal-warning', 'deleteModal', '警告', ~{::#deleteModalBody})">
    <div id="deleteModalBody">
        <p>确认删除该用户？</p>
    </div>
</div>

<script>
    $(function () {
        var $table = $('.hook-datatable').DataTable({
            ajax: {
                "url": "api/users",
                "dataSrc": "_embedded.users"
            },
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent":
                "<div class=\"btn-group\">\n" +
                "  <button type=\"button\" class=\"hook-modify btn btn-info btn-xs btn-flat\" title=\"修改\"><i class=\"fa fa-pencil\"></i></button>\n" +
                "  <button type=\"button\" class=\"hook-freeze btn btn-warning btn-xs btn-flat\" title=\"停用\"><i class=\"glyphicon glyphicon-ban-circle\"></i></button>\n" +
                "  <button type=\"button\" class=\"hook-delete btn btn-danger btn-xs btn-flat\" title=\"删除\"><i class=\"fa fa-trash-o\"></i></button>\n" +
                "</div>"
            }],
            dom:
            "<'row'<'col-sm-7'B><'col-sm-5'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-3'l><'col-sm-3'i><'col-sm-6'p>>",
            buttons: [
                {
                    text: '新增',
                    action: function (e, dt, node, config) {
                        alert('Button activated');
                    }
                }
            ]
        });

        $('.hook-datatable tbody').on('click', '.hook-freeze', function () {
            var data = $table.row($(this).parents('tr')).data();

            $("#freezeModal").modal("show");

            $("#freezeModal").on('click', '.hook-confirm', function () {
                axios.patch(data._links.self.href, {
                    "state": "冻结"
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                $("#freezeModal").modal("hide");
            });

        });
    });
</script>
